.mouse-scroll-on-mobile {
    display: none;
}

@media screen and (max-width: 990px) {
    .animate-from-left {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@media screen and (max-width: 576px) {
    .mouse-scroll-on-mobile {
        width: 95px;
        height: 30px;
        margin: 0 0 0 -30px;
        position: fixed;
        right: calc(50% - 52px);
        bottom: 80px;
        -webkit-animation: arrow .5s 1s infinite ease-in-out alternate;
        z-index: 999;
        display: block !important;
        visibility: hidden
    }

    .mouse-scroll-on-mobile:hover {
        -webkit-animation-play-state: paused
    }

    .mouse-scroll-on-mobile .mouse-scroll-on-mobile-text {
        text-align: center;
        bottom: 120px;
        position: absolute;
        left: 1px;
        background: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 15px;
        color: #000;
    }

    .mouse-scroll-on-mobile .mouse-scroll-on-mobile-left {
        position: absolute;
        height: 5px;
        width: 30px;
        background: #de4659;
        -webkit-transform: rotate(240deg);
        bottom: 80px;
        left: 42px;
        -webkit-border-radius: 4px;
        -webkit-transform-origin: 5px 50%;
        -webkit-animation: leftArrow .5s 1s infinite ease-out alternate
    }

    .mouse-scroll-on-mobile .mouse-scroll-on-mobile-right {
        position: absolute;
        height: 5px;
        width: 30px;
        background: #de4659;
        -webkit-transform: rotate(-60deg);
        bottom: 80px;
        left: 46px;
        -webkit-border-radius: 4px;
        -webkit-transform-origin: 5px 50%;
        -webkit-animation: rightArrow .5s 1s infinite ease-out alternate
    }
}

@-webkit-keyframes arrow {
    0% {
        bottom: 0
    }

    100% {
        bottom: 40px
    }
}

@-webkit-keyframes leftArrow {
    100% {
        -webkit-transform: rotate(225deg)
    }
}

@-webkit-keyframes rightArrow {
    100% {
        -webkit-transform: rotate(-45deg)
    }
}